<% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<% @orders.each do |order| %>
  <% if order.state == 'incomplete' %>
    <%= form_tag new_order_charge_path(order), method: :get do %>
      <%= order.id %>:
      <%= label_tag :amount,'Amount' %>

      <%= order.total.to_f %>
      <%= submit_tag 'Pay' %>
    <% end %>
  <% elsif order.state == 'completed' %>
    <%= form_tag refund_order_charges_path(order), method: :post do %>
      <%= label_tag :amount,'Amount' %>

      <%= order.total.to_f %>
      <%= submit_tag 'Refund' %>
    <% end %>
  <% else %>
    <%= order.total.to_f %>
    <strong>refunded</strong>
  <% end %>
  
  <br/>
<% end %>
